@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: Lighters;
    src: url("/static/Lightersdemo-z8p30.otf") format("opentype");
}

.Lighters {
  font-family: 'Lighters', serif;
  /* font-size: 80px; */
}

svg {
 width: 60%;
 height: 60%;
}

.sf-snow-flake {
position: fixed;
top: -20px;
z-index: 99999;
}
.sf-snow-anim {
top: 110%;
}

.floating-img {
		transform: translateY(-10%);
		animation: floater-y 30s infinite;
		transition: ease 0.5s;
	}
	.floating-img2 {
		transform: translateX(-10%);
		animation: floater-x 30s infinite;
		transition: ease 0.5s;
	}
	@keyframes floater-y {
		0% {
			transform: translateY(-10%);
			transition: ease 0.5s;
		}
		50% {
			transform: translateY(10%);
			transition: ease 0.5s;
		}
	}
	@keyframes floater-x {
		0% {
			transform: translateX(-10%);
			transition: ease 0.5s;
		}
		50% {
			transform: translateX(10%);
			transition: ease 0.5s;
		}
	}



.test {
  height: 0%;
  vertical-align: middle;
}

/* .hp-cyrcle-div {
  height: 400px;
} */

.svg-content { 
	position: relative;
}

.svg-cyrcle1 { 	
	/* position: relative; */
	width: 100%;
  animation-name: hp-cyrcle;
  animation-duration: 2s;  
  animation: hp-cyrcle 20.0s infinite;
  transition: ease 0.5s;
	/* overflow: hidden;  */
}

 header, main, footer {
  font-family: 'Inter', sans-serif;
}

.svg-cyrcle2 { 
	/* display: inline-block; */
	position: relative;
	width: 100%;
  animation-name: hp-cyrcle2;
  animation-duration: 5s;
  animation: hp-cyrcle2 5.0s infinite;
  transition: ease 0.5s;
}

